body {
	margin: 0;
	background:lightsteelblue;
	font-family: 'Courier New', monospace;
	font-weight: 800;
}

p {
  border-left: 25px solid black;
  background-color: lightgrey;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 15px;
  margin-top: 40px;
}

.test {
  margin-top: 20px;
  text-decoration: none;
  font-size: xx-large;
  color: black;
}

.container {
	width: 100%;
	margin: 0 auto;
}

header {
  background: black;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

.left {
    float: left;
}

.right {
    float: right;
    
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 35px;
  margin-right: 35px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color:white;
  text-decoration: none;
  font-size: 14px;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: white;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}