{% extends 'base.html' %}

{% block head %}
<title>Home</title>
<link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/home.css') }}">
{% endblock %}

{% block body %}
<header>
    <div class="container"> 
        <h1 class = "logo"></h1>>  
        <nav>
            <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">CONTACT</a></li>
            <li><a href="{{ url_for('logout') }}">LOGOUT</a></li>
            </ul>
        </nav>
    </div>
</header>
{% endblock %}