{%extends 'base.html'%}

{%block head%}
<title>Login</title>
<link rel ="stylesheet" href = "{{ url_for('static', filename = 'css/main.css') }}">
{%endblock%}

{%block body%}
<form action = "/" method = "POST" style = "background-image: linear-gradient(grey, white)">
    <div>
        <p>Късмет на теста!</p>
        <p><input type = "text" name = "user" id = "user" required placeholder = "Username"></p>
        <p><input type = "password" name = "pass" id = "pass" required placeholder = "Password"></p>
        <p1><input type = "submit" value = "Login"></p1>
    </div>
</form>
{%endblock%}