{% extends 'base.html' %}

{% block head %}
<title>Exam Platform</title>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<link rel ="stylesheet" href = "{{ url_for('static', filename = 'css/main.css') }}">
{% endblock %}

{% block body %}
<form action = "/login" method = "POST">
    <div class = "login">
        <h1>Login</h1>
        {{ form.hidden_tag() }}
        <div class = "text">
            <i class="fas fa-users"></i>
            {{ form.username(placeholder = "Username") }}
        </div>

        <div class = "text">
            <i class="fas fa-key"></i>
            {{ form.password(placeholder = "Password") }}
        </div>

        <input class = "button" type = "submit" value = "THIS WAY!">
    </div>
</form>
{% endblock %}